#show .el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
}

#show .el-carousel__item:nth-child(2n) {
   background-image: url(../img/背景2.jpg);
   background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-position: center 0;
   mix-blend-mode: overlay;
   display: flex;
}

#show .el-carousel__item:nth-child(2n+1) {
   background-image: url(../img/背景1.jpg);
   background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-position: center 0;
   mix-blend-mode: overlay;
   display: flex;
}

#show .Test{
   display: inline-block;
   height: 400px;
   width: 100%;
   z-index: 3;
   
   background-image: linear-gradient(rgb(97, 97, 97),rgba(255, 255, 255, 0));
 }
#show .el-carousel__container{
   overflow-y:hidden;
   overflow-x: hidden;
}